@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;800&family=Ubuntu&display=swap');

:root {
    --color-primary: #6f6af8;
    --color-white: #fff;
    --color-red: rgb(255, 63, 63);
    --color-gray-100: hsl(220, 20%, 10%, 5%);
    --color-gray-200: hsl(220, 20%, 10%, 10%);
    --color-gray-300: hsl(220, 20%, 10%, 25%);
    --color-gray-500: hsl(220, 20%, 10%, 50%);
    --color-gray-700: #252542;
    --color-gray-900: #0c0c22;

    --color-bg: hwb(240, 95%, 0%);

    --transition: all 300ms ease;

    --container-width-lg: 84%;
    --container-width-md: 92%;
    --form-width: 50%;

    --radius-1: .3rem;
    --radius-2: .6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

body {
    font-family: "Poppins", sans-serif;
}

.nav__logo {
    width: 3rem;
    display: block;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}